fastapi
uvicorn
scikit-learn==1.8.0
nltk
spacy
pandas
pydantic
pydantic[email]
vaderSentiment
textblob
sqlalchemy
alembic
psycopg[binary]
python-jose[cryptography]
passlib==1.7.4
bcrypt==4.3.0
python-multipart
pytest
httpx
