fastapi
uvicorn
scikit-learn==1.9.0
nltk
spacy
pandas
pydantic
pydantic[email]
vaderSentiment
textblob
sqlalchemy
alembic
psycopg[binary]
python-jose[cryptography]
bcrypt==5.0.0
python-multipart
pytest
httpx
