fastapi
uvicorn
scikit-learn==1.8.0
nltk
spacy
pandas
pydantic
pydantic[email]
vaderSentiment
textblob
sqlalchemy
alembic
psycopg[binary]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pytest
httpx
